.poncho-pattern {
  background-color: #1d1515;
  background-image:
    linear-gradient(135deg, #241f1e 25%, transparent 25%), linear-gradient(225deg, #241f1e 25%, transparent 25%),
    linear-gradient(45deg, #241f1e 25%, transparent 25%), linear-gradient(315deg, #241f1e 25%, transparent 25%);
  background-position:
    40px 0,
    40px 0,
    0 0,
    0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
}

.poncho-overlay {
  background: linear-gradient(180deg, rgba(148, 65, 61, 0.1) 0%, rgba(29, 21, 21, 0.9) 100%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4d4242;
  border-radius: 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
