{% load static %}
<nav class="nav" id="nav">
  <a class="nav-logo" href="{% url 'home' %}">Salta<span class="s">Dev</span></a>

  <ul class="nav-links">
    <li>
      <a href="{% url 'home' %}#inicio"
         class="nl {% if request.resolver_match.url_name == 'home' %}act{% endif %}"
         data-sec="inicio">Inicio</a>
    </li>
    <li>
      <a href="{% url 'home' %}#partners"
         class="nl"
         data-sec="partners">Colaboradores</a>
    </li>
    <li>
      <a href="{% url 'home' %}#community"
         class="nl"
         data-sec="community">Comunidad</a>
    </li>
    <li>
      <a href="{% url 'home' %}#staff"
         class="nl"
         data-sec="staff">Staff</a>
    </li>
    <li>
      <a href="{% url 'events' %}"
         class="nl {% if request.resolver_match.url_name == 'events' %}act{% endif %}">Eventos</a>
    </li>
    <li>
      <a href="{% url 'code_of_conduct' %}"
         class="nl {% if request.resolver_match.url_name == 'code_of_conduct' %}act{% endif %}">Reglamento</a>
    </li>
  </ul>

  {% if user.is_authenticated %}
  <a class="nav-btn btn" href="{% url 'dashboard' %}">
    <span class="material-symbols-outlined ms ms-f">dashboard</span>Dashboard
  </a>
  {% else %}
  <a class="nav-btn btn" href="{% url 'login' %}">
    <span class="material-symbols-outlined ms ms-f">arrow_forward</span>Iniciar sesion
  </a>
  {% endif %}

  <button class="nav-ham" id="ham" aria-label="Abrir menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
